<h1 mat-dialog-title class="center-title">Crear Asignación de Producto</h1>

<div mat-dialog-content>
  <form [formGroup]="createAssignmentForm">
    
    <!-- Seleccionar Distribuidor -->
    <mat-form-field class="full-width">
      <mat-label>Distribuidor</mat-label>
      <mat-select formControlName="distributor" [(value)]="selectedDistributor">
        <mat-option *ngFor="let distributor of distributors" [value]="distributor">
          {{ distributor.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="createAssignmentForm.get('distributor')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Seleccionar Dispositivo -->
    <mat-form-field class="full-width">
      <mat-label>Dispositivo</mat-label>
      <mat-select formControlName="device" [(value)]="selectedDevice">
        <mat-option *ngFor="let device of devices" [value]="device">
          {{ device.serialNumber }} - {{ device.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="createAssignmentForm.get('device')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions class="action-buttons-create">
  <button mat-raised-button color="primary" (click)="onCreate()" [disabled]="!createAssignmentForm.valid">Crear</button>
  <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
</div>
