<h1 mat-dialog-title class="center-title">Editar Dispositivo</h1>
<h1 mat-dialog-title>{{ data.device.name }} - {{ data.device.serialNumber }}</h1>

<div mat-dialog-content>
  <form [formGroup]="editDeviceForm">
    <mat-form-field class="full-width">
      <mat-label>Nombre del dispositivo</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="editDeviceForm.get('name')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Seleccionar tipo de dispositivo</mat-label>
      <mat-select formControlName="deviceTypeName" class="select-scroll">
        <mat-option *ngFor="let type of deviceTypes" [value]="type.name">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="brand">
      <mat-error *ngIf="editDeviceForm.get('brand')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description">
      <mat-error *ngIf="editDeviceForm.get('description')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="price" type="number">
      <mat-error *ngIf="editDeviceForm.get('price')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
      <mat-error *ngIf="editDeviceForm.get('price')?.hasError('min')">
        El precio debe ser un número positivo.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Seleccionar estado de dispositivo</mat-label>
      <mat-select formControlName="productState" class="select-scroll">
        <mat-option *ngFor="let state of productStates" [value]="state.state">
          {{ state.state }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Cantidad Disponible</mat-label>
      <input matInput formControlName="amountAvailable" type="number">
      <mat-error *ngIf="editDeviceForm.get('amountAvailable')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
      <mat-error *ngIf="editDeviceForm.get('amountAvailable')?.hasError('min')">
        La cantidad disponible debe ser un número positivo.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Consumo eléctrico (W)</mat-label>
      <input matInput formControlName="electricalConsumption" type="number">
      <mat-error *ngIf="editDeviceForm.get('electricalConsumption')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
      <mat-error *ngIf="editDeviceForm.get('electricalConsumption')?.hasError('min')">
        El consumo eléctrico debe ser mayor a 0.
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="action-buttons-edit">
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
  <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
</div>
