<h1 mat-dialog-title class="center-title">Editar Tipo de Dispositivo</h1>

<div mat-dialog-content>
  <form [formGroup]="editTypeForm">
    <mat-form-field class="full-width">
      <mat-label>Nombre del tipo de dispositivo</mat-label>
      <input matInput formControlName="name" readonly>
      <mat-error *ngIf="editTypeForm.get('name')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Días de Garantía</mat-label>
      <input matInput formControlName="warranty" type="number">
      <mat-error *ngIf="editTypeForm.get('warranty')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
      <mat-error *ngIf="editTypeForm.get('warranty')?.hasError('min')">
        El valor tiene que ser un número positivo.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="editTypeForm.get('description')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="action-buttons">
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
  <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
</div>
